# Introduction to Python - Exercises

### 1. Declare two numerical variables and perform the division between the two. What type is the response variable? What can we do to make it an integer?

In [0]:
a=3
b=6
c=b/a
print(c)
print(type(c))
print(int(c))

2.0
<class 'float'>
2

### 2. From two numbers, check which is the largest.

In [0]:
a > b

False

### 3. Write a program that asks the user for their name and age, and print on the screen:

His name is Juan

Your age is: 35

In [0]:
nombre = input("Escribe tu nombre:  ")
edad = input("Escribe tu edad: ")
print("Su nombre es:" + nombre)
print("Su edad es:" + edad)

### 4. Build two lists and extend the first, so that you also have the elements of the second. Do the same with a tuple.

In [0]:
lista_1 = [12, 123,35, 563]
lista_2 = [34, 10,20, 40]
lista_1.extend(lista_2)
print (lista_1)


tupla_1 = (12, 123,35, 563)
tupla_2 = (34, 10,20, 40)
tupla_3 = tupla_1 + tupla_2
print (tupla_3)

[12, 123, 35, 563, 34, 10, 20, 40]
(12, 123, 35, 563, 34, 10, 20, 40)

### 5. Create two character strings and concatect them.

In [0]:
a = "Hola"
b = " Mundo"
c = a + b
c

'Hola Mundo'

### 6. Create a tuple and print its third element on the screen.

In [0]:
tupla = (1,2,3,4)
print(tupla[2])

3

### 7. Create a character string and convert it to a list.

In [0]:
cadena1 = "Me llamo Jorge"
lista1 = list(cadena1)
print(lista1)

['M', 'e', ' ', 'l', 'l', 'a', 'm', 'o', ' ', 'J', 'o', 'r', 'g', 'e']

### 8. Check if your name contains the letter _o_.

In [0]:
nombre="miguel"
contiene="o" in nombre
print(contiene)

False

### 9. Write your first and last name and convert everything to uppercase.

In [0]:
str_1 = "Marta Zubimendi"
print (str_1.upper())

MARTA ZUBIMENDI

### 10. Write a program that asks the user for a list of numbers separated by commas, build a list and a tuple from the received list and display them on the screen

In [0]:
numeros = input('Introduzca numeros separados por comas:').split(',')
print (numeros)

tupla = tuple(numeros)
print (tupla)

Introduzca numeros separados por comas:1,2,4
['1', '2', '4']

TypeError: 'tuple' object is not callable

In [0]:
tuple

(1, 2, 3, 4)

### 11. Write a program that asks the user for a list of names separated by semicolons, build a list and print on the screen the even elements of the list

In [0]:
entrada = input("Listado de nombres separados por ;").split(';')
print(entrada)
print (entrada[1::2])

Listado de nombres separados por ;juan;rodrigo;alberto;rocio
['juan', 'rodrigo', 'alberto', 'rocio']
['rodrigo', 'rocio']

### 12. Write a program that asks the user for two text strings and detect if the second one is contained in the first one.

In [0]:
cad_txt1 = input('Introduzca varias palabras: ')
cad_txt2 = input('Introduzca una palabra: ')
cad_txt2 in cad_txt1

Introduzca varias palabrashola que tal
Introduzca una palabrahola

True

### 13. Write a program that asks the user for a list of names separated by a comma, a position and return the list of names, replacing the one that appears in the position indicated by "Miguel"

In [0]:
nombres = input('Introduzca una lista de nombres separados por coma: ').split(',')
pos = input('Introduzca una posicion: ')
pos = int(pos)

nombres[pos-1]='Miguel'
print(nombres)

Introduzca una lista de nombres separados por coma: Carlos,Pepe,Javier,Luis,Manuel
Introduzca una posicion: 3
['Carlos', 'Pepe', 'Miguel', 'Luis', 'Manuel']

In [0]:
nombres = input('Introduzca una lista de nombres separados por coma: ').split(',')

Introduzca una lista de nombres separados por coma: juan, ricardo, alberto

In [0]:
lista= str(nombres)
print(lista)

['juan', ' ricardo', ' alberto']

In [0]:
print(lista.replace("ricardo", "Miguel"))

['juan', ' Miguel', ' alberto']

### 14. Create a list of 10 numbers and return from the fourth to the eighth element.

In [0]:
lista = list(range(10))
lista[3:8]

[3, 4, 5, 6, 7]

### 15. Create a dictionary from two lists (the elements of one of them must be the dictionary keys and the elements of the other, the dictionary values).

In [0]:
list_1 = ["clave_1", "clave_2", "clave_3", "clave_4"]
list_2 = [1, 2, 3, 4]
dic_1 = dict(zip(list_1, list_2))
print(dic_1)

{'clave_1': 1, 'clave_2': 2, 'clave_3': 3, 'clave_4': 4}

### 16. Insert a new value in the previous dictionary, whose key is "new_key".

In [0]:
dic_1["clave_nueva"] = 5
print(dic_1)

{'clave_1': 1, 'clave_2': 2, 'clave_3': 3, 'clave_4': 4, 'clave_nueva': 5}

### 17. Modify the value added to the dictionary, accessing the key "new_key".

In [0]:
dic_1["clave_nueva"] = 7
print(dic_1)

{'clave_1': 1, 'clave_2': 2, 'clave_3': 3, 'clave_4': 4, 'clave_nueva': 7}

### 18. Delete all the elements of the created dictionary.

In [0]:
dic_1.clear()
dic_1

{}

### 19. Create two lists and calculate their union.

In [0]:
list_1 = [1,2,3,4,5,8,5,6]
list_2 = [10,11,12,13,14,2,6,8]
list_1 + list_2

[1, 2, 3, 4, 5, 8, 5, 6, 10, 11, 12, 13, 14, 2, 6, 8]

In [0]:
list_1 = [1,2,3,4,5,8,5,6]
list_2 = [10,11,12,13,14,2,6,8]
set_1 = set(list_1)
set_2 = set(list_2)
print (set_1 | set_2)
print (set_1 & set_2)

{1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14}
{8, 2, 6}

### 20. Create two sets and calculate their union, intersection and symmetric difference.

In [0]:
set1 = {1,2,3,6,4}
set2 = {3,4,7,8}

In [0]:
set1 ^ set2

{1, 2, 6, 7, 8}